* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;

  line-height: 1.2;
  letter-spacing: -2px;
  font-size: 62px;
}
h1 {
  text-align: center;
  font-size: 62px;
}
h2 {
  text-align: center;
  font-size: 48px;
}
h3 {
  font-size: 40px;
}

p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
}
a {
  font-weight: 400;
  text-decoration: none;
  line-height: 1.5;
  font-size: 16px;
}
ul {
  list-style: none;
}
.hero {
  background-color: #9775fa;
  color: white;
}
.main {
  background-color: #ff922b;
  color: white;
}
.hero-section {
  text-align: center;
}

.cta-section {
  text-align: center;
}
.footer {
  text-align: center;
}
