* {
  box-sizing: border-box;
  padding: 0p;
  margin: 0p;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;

  line-height: 1.2;
  letter-spacing: -2px;
  font-size: 62px;
}
h1 {
  text-align: center;
  font-size: 6.2rem;
}
h2 {
  text-align: center;
  font-size: 4.8rem;
}
h3 {
  font-size: 4rem;
}

p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 2rem;
}
a {
  font-weight: 400;
  text-decoration: none;
  line-height: 1.5;
  font-size: 1.6rem;
}
ul {
  list-style: none;
}
.hero {
  background-color: #9775fa;
  color: white;
}
.main {
  background-color: #ff922b;
  color: white;
}
.hero-section {
  text-align: center;
}

.cta-section {
  text-align: center;
}
.footer {
  text-align: center;
}
